<div class="main-table-div">
    <table class="table-container">
      <thead>
        <tr>
          <th>Player Id</th>
          <th>Name</th>
          <th>Today's Score</th>
          <th>Current Position</th>
          <th>Status</th>
          <th>Tee Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of currentPageData()" class="table-row">
          <td>{{ player.MSTID }}</td>
          <td>{{ player.First }} {{ player.Last }}</td>
          <td>{{ player.Today }}</td>
          <td>{{ player.position }}</td>
          <td>{{ player.status}}</td>
          <td>{{ player.teeTime}}</td>
        </tr>
      </tbody>
    </table>
    <div class="page-manager">
      <button (click)="prevPage()">Previous</button>
      <span>Page {{currentPage + 1}} of {{ totalPages()  }}</span>
      <button (click)="nextPage()">Next</button>
    </div>
  </div>